@model Application.ViewModel.InformationViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="col-md-6 offset-3">
    <div class="card">
        <div class="card-header bg-danger text-white">
            Zodiac Signs
        </div>
        <div class="card-body">
            <form asp-action="Result" asp-controller="Zodiac" method="post">
                <input type="text" name="Name" asp-for="Name"  />
                <input type="date" name="BirthDate" asp-for="BirthDate" />

                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>

