@model Application.ViewModel.ResultViewModel
@{
    ViewData["Title"] = "Result";
}

@if (Model != null)
{
    <div class="d-flex justify-content-center">
        <ul class="list-group col-4">
            <li class="list-group-item d-flex justify-content-center list-header">
                <div class="row">
                    <div class="col-1 offset-2">
                        <img src="~/Images/{@Model.ZodiacSign}.png" class="border border-light rounded-pill bubble-color"/>
                    </div>
                    <h1>@Model.ZodiacSign</h1>
                    </div>
            </li>
            <li class="list-group-item">
                <h6>Name:</h6>
                <h4>@Model.Name</h4>
            </li>
            <li class="list-group-item">
                <h6>Date of Birth:</h6>
                <h4>@Model.BirthDay.ToString("dd/MM")</h4>
            </li>
        </ul>
    </div>

}
else
{
    <h1>No Data(s)</h1>
}

